In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('nasdaq100tickers.csv', header = None)

In [6]:
df

        0
0    AAPL
1    ADBE
2     ADI
3     ADP
4    ADSK
..    ...
97    WBA
98   WDAY
99    XEL
100  XLNX
101    ZM

[102 rows x 1 columns]

In [9]:
lizt = list(df[0])

In [13]:
with open('nasdaq100tickers.txt', 'w') as f:
    for item in lizt:
        f.write(f'{item}\n')